<div id="bottone_scrivi">
    <a href="/users/login"><button <% if(pagina=='login'){ %> class="checked" <% }; %> >Login</button></a>
</div>

<div id="opzioni">
    <center>
        <br /><br /><br />
        <a href="/comunicazioni"><button <% if(pagina=='comunicazioni'){ %> class="checked" <% }; %> >Home</button></a><br /><br /><br />
        <a href="/prenotazioni/segreteria"><button <% if(pagina=='indicazioni'){ %> class="checked" <% }; %> >Segreteria</button></a><br /><br /><br />
        <a href="/link-utili"><button <% if(pagina=='link-utili'){ %> class="checked" <% }; %> >Link Utili</button></a><br /><br /><br />
    </center>
</div>
