<div id="bottone_scrivi">
    <a href="/users/login"><button>Login</button></a>
</div>

<div id="opzioni">
    <center>
        <br /><br /><br />
        <a href="/comunicazioni"><button>Home</button></a><br /><br /><br />
        <a href="/prenotazioni/segreteria"><button>Segreteria</button></a><br /><br /><br />
        <a href="/link-utili"><button>Link Utili</button></a><br /><br /><br />
    </center>
</div>
