<div id="bottone_scrivi">
    <a href=""><button>Messaggi</button></a>
</div>

<div id="opzioni">
    <center>
        <br /><br /><br />
        <a href="/comunicazioni"><button>Home</button></a><br /><br /><br />
        <a href=""></a><button>Pazienti</button><br /><br /><br />
        <a href=""><button>Appuntamenti</button></a><br /><br /><br />
    </center>
</div>

<div id="bottone">
    <a href="/users/logout"><button>Esci</button></a>
</div>
