<div id="bottone_scrivi">
    <a href="/area-riservata/segreteria/nuova-prenotazione"><button>Nuova Prenotazione</button></a>
</div>

<div id="opzioni">
    <center>
        <br /><br /><br /><br>
        <a href="/area-riservata/segreteria/prenotazioni"><button>Appuntamenti</button></a><br /><br /><br /><br />
        <a href="/area-riservata/segreteria/pazienti"><button>Lista pazienti</button></a><br /><br /><br /><br />
        <a href="/area-riservata/segreteria/indicazioni-arrivo"><button>Indicazioni di arrivo</button></a><br /><br /><br /><br />
        <a href="/comunicazioni"><button>Comunicazioni</button></a><br /><br /><br /><br />
        <a href="/users/register"><button>Registra nuovo paziente</button></a><br /><br /><br /><br />
    </center>
</div>

<div id="bottone">
    <% if(typeof currentUser=='undefined'){%>
        <a href="/users/login"><button>Login</button></a> 
    <%} else { %><a href="/users/logout"><button>Esci</button></a> 
    <%}%>
</div>
