<div id="bottone_scrivi">
    <a href="/area-riservata/segreteria/nuova-prenotazione"><button <% if(pagina=='prenotazioni'){​​​​ %>class="checked"<% }​​​​ %>>Nuova Prenotazione</button></a>
</div>

<div id="opzioni">
    <center>
        <br /><br /><br /><br>
        <a href="/area-riservata/segreteria/prenotazioni"><button <% if(pagina=='appuntamenti'){​​​​ %>class="checked"<% }​​​​ %>>Appuntamenti</button></a><br /><br /><br /><br />
        <a href="/area-riservata/segreteria/lista-pazienti"><button <% if(pagina=='lista-pazienti'){​​​​ %>class="checked"<% }​​​​ %>>Lista pazienti</button></a><br /><br /><br /><br />
        <a href="/area-riservata/segreteria/indicazioni-arrivo"><button <% if(pagina=='indicazioni-arrivo'){​​​​ %>class="checked"<% }​​​​ %>>Indicazioni di arrivo</button></a><br /><br /><br /><br />
        <a href="/comunicazioni"><button <% if(pagina=='comunicazioni'){​​​​ %>class="checked"<% }​​​​ %>>Comunicazioni</button></a><br /><br /><br /><br />
        <a href="/users/registra-paziente"><button <% if(pagina=='registra-paziente'){​​​​ %>class="checked"<% }​​​​ %>>Registra nuovo paziente</button></a><br /><br /><br /><br />
    </center>
</div>

<div id="bottone">
    <a href="/users/logout"><button>Esci</button></a> 
</div>
