<div id="bottone_scrivi">
    <a href=""><button>Scrivi Notizia</button></a>
</div>

<div id="opzioni">
    <center>
        <br /><br /><br />
        <a href="/comunicazioni"><button>Home</button></a><br /><br /><br />
        <a href=""></a><button>Lista pazienti</button><br /><br /><br />
        <a href=""><button>Prenotazioni sportello</button></a><br /><br /><br />
        <a href=""><button>Prenotazioni medico</button></a><br /><br /><br />
        <a href=""><button>Aggiungi Prenotazione</button></a><br /><br /><br />
    </center>
</div>

<div id="bottone">
    <a href="/users/logout"><button>Esci</button></a>
</div>
