<div id="bottone_scrivi">
    <a href="/prenotazioni/new"><button>Prenota Visita</button></a>
</div>

<div id="opzioni">
    <center>
        <br /><br /><br />
        <a href="/comunicazioni"><button>Home</button></a><br /><br /><br />
        <a href="/prenotazioni/segreteria"><button>Segreteria</button></a><br /><br /><br />
        <a href=""></a><button onclick="myFunction()">Chat</button><br /><br /><br />
        <a href="/link-utili"><button>Link Utili</button></a><br /><br /><br />
    </center>
</div>
<script>
    function myFunction(){
        alert('Funzione non ancora implementata, ci scusiamo per il disagio causato');
    }
</script>
<div id="bottone">
        <a href="/users/logout"><button>Esci</button></a> 
</div>
