<div id="bottone_scrivi">
    <a href="/prenotazioni/new"><button>Prenota Visita</button></a>
</div>

<div id="opzioni">
    <center>
        <br /><br /><br />
        <a href="/comunicazioni"><button>Home</button></a><br /><br /><br />
        <a href=""></a><button>Chat</button><br /><br /><br />
        <a href="/link-utili"><button>Link Utili</button></a><br /><br /><br />
    </center>
</div>

<div id="bottone">
    <% if(typeof currentUser=='undefined'){%>
        <a href="/users/login"><button>Login</button></a> 
    <%} else { %><a href="/users/logout"><button>Esci</button></a> 
    <%}%>
</div>
