<!-- <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/comunicazioni">Comunicazioni</a></li>
	<li><a href="/prenotazioni">Prenota una visita</a></li>
	<li><a href="/link-utili">Link utili</a></li>
</ul>
 -->
<div class="alto">
  <div id="title">HAP</div>
  <a href="/users/profilo">
    <div class="profilo">
      <img src="/images/avatar.png" />
      <div id="info">
    <% if(typeof currentUser!='undefined'){ %><%= currentUser.idRef.cognome %> <%= currentUser.idRef.nome %><% } %>
    </div></div>
  </a>
  <!--  <center><input type="text" id="cerca" placeholder="Cerca news" /></center> -->
</div>
