
<div class="alto">
  <div id="title">HAP</div>
  <a href="/users/profilo">
    <div class="profilo">
      <img src="/images/avatar.png" />
      <div id="info">
    <% if(typeof currentUser!='undefined'){ %><%= currentUser.idRef.cognome %> <%= currentUser.idRef.nome %><% } %>
    </div></div>
  </a>
  
</div>
