<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="icon" type="image/png" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/comunicazionipage.css" />
        <link rel="stylesheet" href="/stylesheets/menu.css" />      
    </head>
    <body>
        <% include ../partials/navbar %> <% include ../partials/flash-messages %>
        <% if(typeof currentUser=='undefined'||currentUser.tipo==='Paziente'){ %>
            <% include ../partials/menu-paziente %>
        <%} else if(currentUser.tipo==='Staff'&&currentUser.idRef.ruolo==='Segreteria'){ %>
            <% include ../partials/menu-segreteria %>
        <% } else if(currentUser.tipo==='Staff'&&currentUser.idRef.ruolo==='Medico'){ %>
            <% include ../partials/menu-medico %>
        <% } %>
        <div class="area_notifiche">
            <div id="bacheca">
                <%- body -%>
            </div>
        </div>     
    </body>
</html>
