<html>
	<head>
		<title>HAP: Registrazione</title>
		<link rel="icon" href="HapHD.png" type ="image/png"/>
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/registrazione.css">
		</head>
	<body>
	<div class="tetto">
		<div id="title" class="tetto">
			HAP
		</div>
	</div>	
		<div class="area">
		<center>
				<div id="area_registrazione">
				<br>
					<form>
					<div id="titolo_casella">
						Nome<br>
						<input placeholder="Nome" name="nome" type="text" id="casella"/>
					</div>
					<div id="titolo_casella">
						Cognome<br>
						<input placeholder="Cognome" name="cognome" type="text" id="casella"/><br>
					</div>
					<div id="titolo_casella">
						Codice Fiscale<br>
						<input placeholder="CF" name="CF" type="text" id="casella"/><br>
					</div>
					<div id="titolo_casella">
						Luogo di nascita<br>
						<input placeholder="Luogo di nascita" name="nascita" type="text" id="casella"/><br>
					</div>
					<div id="titolo_casella">
						Comune di residenza<br>
						<input placeholder="Comune di residenza" name="residenza" type="text" id="casella"/><br>
					</div>
					<div id="titolo_casella">
						Provincia<br>
						<select name="provincia" id="box">
							<option value="">---</option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value=""></option>
							<option value="30"></option>
							<option value="360"></option>
						</select><br>
					</div>
					<div id="titolo_casella">
						Data di Nascita	<br>
						<input type="date" name="data" id="casella"/><br>
					</div>
					<div id="titolo_casella">
						Sesso<br>
					</div>					
					<div id="casella_sex">
						<input type="radio" name="sex" value=0 color="black">M</input>
						<br>
						<input type="radio" name="sex" value=1 color="black">F</input>
					</div>
					<div id="titolo_casella">
						E-mail<br>
						<input placeholder="E-mail" name="email" type="mail" id="casella"/><br>
					</div>
					<div id="titolo_casella">
						Password<br>
						<input placeholder="Password" name="password" type="password" id="casella"/><br>
					</div>
						<br>
						<br>
						<input type="submit" id="signin" value="Registrati"/>
						
					</form>
				
				</div>
				</center>
			</background>
		</div>
	</body>
</html>