<% layout('layouts/layout-segreteria') -%>

<input type="text" id="medico">
       Filippo Troiani <!--Nome del medico-->
    </div>
    <table id="lista">
        <tr>
            <th>Nome paziente</th>
        </tr>
        <!-- funzione for per pazienti-->
        <tr>
            <td><%=prenotazione.paziente.nome%> <%=prenotazione.paziente.nome%></td>
        </tr>
    </table>
