<% layout('layouts/layout-segreteria') -%>

<table id="prenotazione-visita">
    <tr>
        <th>Nome Paziente</th>
        <th>Medico riferimento</th>
    </tr>
    <!--for pazienti-->
    <!--<tr>
        <td>Rossi Giuseppe</td>
        <td>Medico</td>
    </tr>
    <tr>
        <td>Bianchi Michele</td>
        <td>Medico</td>
    </tr>-->
</table>
