<% layout('layouts/layout-segreteria') -%>
<!-- funzione for per medici-->
    <input type="text" id="medico"/>
       Filippo Troiani <!--Nome del medico-->
    </div>
    <table id="lista">
        <tr>
            <th>Nome paziente</th>
            <th>Data prenotazione</th>
            <th>Motivazione</th>
        </tr>
        <!-- funzione for per pazienti-->
        <tr>
            <td><%=prenotazione.paziente.nome%> <%=prenotazione.paziente.nome%></td>
            <td><%=prenotazione.dataPrenotazione%></td>
            <td><%=prenotazione.motivazione%></td>
        </tr>
    </table>