<% layout('layouts/layout-segreteria') -%>
<div id="scorrimento"><!-- funzione for per medici-->
    <a href=""><div id="medico">
       <%- -%> <!--Nome del medico-->
    </div></a>
    <table id="lista">
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data prenotazione</th>
            <th>Motivazione</th>
        </tr>
        <!-- funzione for per pazienti-->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </div>
</div>