<% layout('layouts/boilerplate') -%>
<h1>Link utili</h1>
<div>
	<% elencoLink.forEach((link)=>{ %>
	<div>
		<a href="<%= link.indirizzo %>"><%= link.titolo %></a> - <%=
		link.descrizione %>
	</div>
	<%}); %>
</div>
