<% layout('layouts/layout-medico') -%>
<table id="prenotazione">
    <tr>
        <th>Nome Paziente</th>
    </tr>
    <!--for pazienti-->
    <!--<tr>
        <td>Rossi Giuseppe</td>
    </tr>
    <tr>
        <td>Bianchi Michele</td>
    </tr>-->
</table>
