<% layout('layouts/layout-medico') -%>
<input type="date" id="datacercata">
<table id="lista">
    <tr>
        <th>Orario visita</th>
        <th>Nome Paziente</th>
        <th>Motivazione</th>
    </tr>
    <tr>
        <td><%=prenotazione.ora%></td>
        <td><%=prenotazione.paziente.nome%> <%=prenotazione.paziente.nome%></td>
        <td><%=prenotazione.motivazione%></td>
    </tr>
</table>
