<% layout('layouts/layout-medico') -%>
<div class="rubrica">
    <div id="utente">
        <div id="cognome"></div>
        <div id="nome"></div>
    </div>
    <div id="lettera">A <br /></div>
    <div id="lettera">B <br /></div>
    <div id="lettera">C <br /></div>
    <div id="lettera">D <br /></div>
    <div id="lettera">E <br /></div>
    <div id="lettera">F <br /></div>
    <div id="lettera">G <br /></div>
    <div id="lettera">H <br /></div>
    <div id="lettera">I <br /></div>
    <div id="lettera">J <br /></div>
    <div id="lettera">K <br /></div>
    <div id="lettera">L <br /></div>
    <div id="lettera">M <br /></div>
    <div id="lettera">N <br /></div>
    <div id="lettera">O <br /></div>
    <div id="lettera">P <br /></div>
    <div id="lettera">Q <br /></div>
    <div id="lettera">R <br /></div>
    <div id="lettera">S <br /></div>
    <div id="lettera">T <br /></div>
    <div id="lettera">U <br /></div>
    <div id="lettera">V <br /></div>
    <div id="lettera">W <br /></div>
    <div id="lettera">X <br /></div>
    <div id="lettera">Y <br /></div>
    <div id="lettera">Z <br /></div>
</div>
