main {
	margin: 0;
	justify-content: center;
}
.topbar {
	background-color: white;
	border-top-left-radius: 15px;
	position: fixed;
	width: 100%;
}
.newsFeed {
	width: 80%;
}
.newsContainer {
	padding-top: 10vh;
	max-width: 1200px;
}
.newsContainer div {
	background-color: #ccc;
	padding: 5px;
}
.newsContainer div:nth-child(2n) {
	background-color: #fff;
}
#cercaNewsForm {
	background-color: white;
	max-width: 1200px;
	border-top-left-radius: 15px;
	width: 100%;
	height: 5vh;
	display: flex;
}
#cercaButton button {
	position: absolute;
	margin-right: 0;
	width: 15%;
	height: 35px;
	border-radius: 10px;
	font-weight: bold;
}
/*#cercaInput {
  flex-grow: 1;
}*/
header {
	border-top-left-radius: 15px;
	position: fixed;
	background-color: #00c4cc;
}
