main {
  padding-top: 15vh;
  margin: 0;
  justify-content: center;
}
.newsFeed {
  width: 80%;
}
.newsContainer {
  padding-top: 10vh;
  width: 80%;
  max-width: 1200px;
}
.newsContainer div {
  background-color: #ccc;
  padding: 5px;
}
.newsContainer div:nth-child(2n) {
  background-color: #fff;
}
#cercaNewsForm {
  background-color: white;
  max-width: 1200px;
  width: 80%;
  height: 5vh;
  display: flex;
}

#cercaInput {
  flex-grow: 1;
}
header {
  position: fixed;
  background-color: #00c4cc;
}
