<html>
  <head>
    <title>HAP</title>
    <link rel="icon" href="/Immagini/HapHD.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body vlink="#fff" alink="#fff" link="#fff">
    <div class="tetto">
      <div id="title" class="tetto"><a href="/">HAP</a></div>
    </div>

    <center>
      <div class="login">
        <br>
        <form action="/users/login" method="POST">
          <div id="titolo_casella">
            <label for="CF">CF</label>
            <br />
            <input placeholder="CF" name="username" type="text" id="casella1" />
          </div>
          <div id="titolo_casella">
            <label for="password">Password</label> 
            <br />
            <input
              placeholder="Password"
              name="password"
              type="password"
              id="casella2"
            />
          </div>
          <br>
            <input type="submit" id="signin" value="Accedi" />
        </form>
          <br />
          <a href="Hap_Recupero_Password.html" id="password">Password dimanticata?</a>
          <br /><br />
          <a href="" id="prenotazione"
            >Prenota appunatamento per la registrazione</a
          >
          <br/><br/>
        </center>
        <br>
      </div>
    </center>
  </body>
</html>
