<!DOCTYPE html>
<html>
    <head>
        <title>HAP :<%= currentUseridRef.cognome%> <%= currentUseridRef.nome%> </title>
        <link rel="icon" type="image/png" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/registrazione.css" />
    </head>
    <body>
        <div class="tetto">
		<div id="title" class="tetto">
			HAP
		</div>
    </div>	
    <div class="area">
        <div id="recovery">
            <form action="/users/reset/<%= token %>?_method=PUT" method="POST">
                CF<br>
                <input type="text" id="cf" value="CF"><br>
                Nuova Password:<br>
                <input type="password" id=password value="Nuova password"><br><br>
                <input type="submit" id="salva" value="Salva">
            </form>
        </div>
    </div>
    </body>
    </html>
