<!DOCTYPE html>
<html>
    <head>
        <title>HAP :<%paziente.nome%> <%paziente.cognome%></title>
        <link rel="icon" type="image/png" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/registrazione.css" />
    </head>
    <body>
        <div class="tetto">
            <div id="title" class="tetto">
                HAP
            </div>
        </div>	
        <div class="area">
            <div id="area_dati">
                <center><img src="/images/avatar.png" id="immagine-profilo"></center><br><br>
                <div id="nome-utente">Nome: <label id="nome-utente"><% %></label></div><br><br>
                <div id="cognome-utente">Cognome: <label id="cognome-utente"><% %></label></div><br><br>
                <div id="data-nascita">Data di nascita: <label id="data-nascita-utente"><% %></label></div><br><br>
                <div id="utente-cf">CF: <label id="cf-utente"><% %></label></div><br><br>
                <div id="e-mail-utente">E-mail: <label id="e-mail-utente"><% %></label></div><br><br>
                <form action="" method="POST">
                    <div id="password-utente">Password:<input type="password" id="password-utente" value="<%%>"></div><br><br>
                    <input type="submit" id="salva" value="Salva">
                </form>
            </div>
        </div>
    </body>
</html>