<% layout('layouts/comunicazioni-index-layout') -%>

<header>
  <div class="topbar">
    <form id="cercaNewsForm">
      <input
        type="text"
        id="cercaInput"
        placeholder="Cerca notizia"
        name="cerca"
        value="<%=(!parolaChiave)?'':parolaChiave%>"
      />
      <div id="cercaButton"><button>Cerca</button></div>
    </form>
    <% if(typeof currentUser!='undefined' && currentUser.tipo=='Segreteria'){ %>
      <div>
        <a href="/comunicazioni/new"><button id="bottone-comunicazione">Nuova Comunicazione</button></a>
      </div>
    <% } %>
  </div>
  
</header>
<div class="error-message"></div>
<main>
  <div class="newsContainer"></div>
  <div class="button-container">
    <p id="loadMore">Loading...</p>
  </div>
</main>
<script src="/javascripts/newsPaziente.js"></script>
<!--<script src="/javascripts/convertDate.js"></script>-->
